<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><%= current_user.username if current_user.present? %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	<div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Features</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Pricing</a>
	      </li>
	    </ul>
	    
	</div>
	<div class="pull-right">
		<ul class="navbar-nav">
	      	<li class="nav-item">
	      		<% if user_signed_in? %>
					<%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-danger'%>
				<% else %>
					<%= button_to "Sign In", new_user_session_path, class: 'btn btn-primary' %>
				<% end%>
			</li>
		</ul>
  	</div>
</nav>